<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SteemData Mentions App</title>
    <link rel="shortcut icon" type="image/png" href="/static/fav.png"/>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/post.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
</head>
<body>

<!-- NAVBAR -->
<div class="ui menu">
    <div class="header item">SteemData Mentions</div>
    <a href="/" class="item">Home</a>
    <div class="item">
        <div class="ui action left icon input">
            <i class="search icon"></i>
            <input type="text" placeholder="Search">
            <button class="ui button">Submit</button>
        </div>
    </div>
    <div class="right menu">
        <a href="https://steemit.com/@furion" class="item">by @furion</a>
    </div>
</div>


<div class="ui container">

    {% if not results %}
        <div class="ui one column stackable center aligned page grid">
            <div class="column twelve wide">
                <br>
                <img src="https://i.imgur.com/COsHlFq.png" alt="">
                <h2>We couldn't find a darn thing!</h2>
                <br>
                <a href="/" class="big ui button">
                    Try Again
                </a>
            </div>
        </div>

    {% else %}

        {% for result in results %}
            {#        <div class="ui segment">#}
            {#            <h2 class="ui left floated header"></h2>#}
            {#            <div class="ui clearing divider"></div>#}
            {#            <p></p>#}
            {#        </div>#}

            <div class="ui segment">
                <h2 class="ui left floated header">{{ result.title }}</h2>
                <div class="uis clearing divider"></div>
                <div class="ui relaxed divided items">

                    <div class="item">
                        <div class="content">
                            <img src="https://img.steemconnect.com/@{{ result.author }}?s=100"
                                 class="ui circular avatar image">
                            @{{ result.author }}
                            <div class="description">
                            <span class="Post">
                                {{ result.body|markdown }}
                            </span>
                            </div>

                            <div class="meta">
                                <a>Created on {{ result.created|humanDate }}</a>
                            </div>
                            <div class="extra">
                                {% for tag in result.json_metadata.tags %}
                                    <div class="ui label">{{ tag }}</div>
                                {% endfor %}
                            </div>


                        </div>

                    </div>
                </div>
            </div>

        {% endfor %}

    {% endif %}
</div>
<br>
<br>
<br>


<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
</body>
</html>