<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SteemData Mentions App</title>
    <link rel="shortcut icon" type="image/png" href="/static/fav.png"/>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
</head>
<body>

<!-- NAVBAR -->
{#<div class="ui menu">#}
{#    <div class="header item">SteemData Mentions</div>#}
{#    <a href="https://phist.steemdata.com" class="item">Post History</a>#}
{#    <a href="https://steemdata.com" class="item">More Apps</a>#}
{#    <div class="right menu">#}
{#        <a href="https://steemit.com/@furion" class="item">by @furion</a>#}
{#    </div>#}
{#</div>#}


<div class="ui container">

    <div class="ui one column stackable center aligned page grid">
        <div class="column twelve wide">
            <br>
            <br>
            <img src="https://i.imgur.com/lwp5Oay.jpg" alt="">
            <br>
            <br>
            <div class="ui action input massive">
                <input type="text" placeholder="Search...">
                <button class="ui icon button massive">
                    <i class="search icon"></i>
                </button>
            </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <table class="ui very compact table">
                <thead>
                <tr>
                    <th>How does the search work?</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>You can search for posts that mention <code>@username</code></td>
                    <td><a href="/find?query=@furion">try it</a></td>
                </tr>
                <tr>
                    <td>You can search for posts that backlink to <a href="#">https://steemit.com/@user/post-id</a></td>
                    <td>
                        <a href="/find?query=https://steemit.com/steemq/@furion/steemq-a-decentralized-video-platform-for-steem">try
                            it</a></td>
                </tr>
                <tr>
                    <td>You can search for posts that contain <code>keywords and phrases</code></td>
                    <td><a href="/find?query=furion python">try it</a></td>
                </tr>

                </tbody>
            </table>

            <br>
            <p class="text-muted">
                Powered by <a href="https://steemdata.com">SteemData</a>. Built with ♥ by <a href="https://steemit.com/@furion">@furion</a>
            </p>

        </div>
    </div>

</div>
<br>
<br>
<br>


<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
</body>
</html>